.menu {
  display: flex;
  justify-content: space-between;
  background: rgb(33, 194, 94);
  top: 0px;
  left: 0px;
  align-items: center;

  &_logo {
    height: 36px;
    width: 36px;
  }

  &_entrar {
    i,
    label {
      color: white;
      font-size: 18px;
      padding: 0px 5px 0px 5px;
    }
  }
}
